<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spike-deploy-func-app-v2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cf3d6caf-df94-431b-a683-b0ba687c7f88/resourcegroups/az-func-spike-rg/providers/Microsoft.Web/sites/spike-deploy-func-app-v2</ResourceId>
    <UserName>$spike-deploy-func-app-v2</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://spike-deploy-func-app-v2.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>